{% load static %}
{% load newtags %}
    <div class="details">
        {% include 'mainapp/includes/inc_cat_menu.html' %}
        <div class="details-products">
            <div class="details-slider">
                <div class="slider-product">
                    <img src="{{ hot_product.image|prod_img_path }}">
                </div>
                <div class="slider-control">
                    <div class="block">
                        <a href="#"><img src="{{ hot_product.image|prod_img_path }}" style="width:70px;" alt="">
                            <div class="text"></div>
                        </a>
                    </div>
                    <div class="block">
                        <a href="#"><img src="{{ hot_product.image|prod_img_path }}" style="width:70px;" alt="">
                            <div class="text"></div>
                        </a>
                    </div>
                    <div class="block">
                        <a href="#"><img src="{{ hot_product.image|prod_img_path }}" style="width:70px;" alt="">
                            <div class="text"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="description">
                <h3 class="big-bold">{{ hot_product.name }}</h3>
                <h3 class="red">горячее предложение</h3>
                <p class="price"> {{ hot_product.price }} <span>руб</span></p>
                <a href="{% url 'basket:add' hot_product.pk %}" class="red-button">
                    заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
                <div class="description-text">
                    <p>{{ hot_product.description }}</p>
                </div>
            </div>
        </div>

        <div class="related">
            {% if category %}
            <div class="title clearfix">
                <h2>
                    Категория: {{ category.name|title }}
                </h2>
            </div>
            {% endif %}
            <div class="related-products clearfix">
                {% for item in products %}
                <div class="block">
                    <a href="{% url 'products:product' item.pk %}">
                        <img src="{{ item.image|prod_img_path }}" alt="product">
                        <div class="text">
                            <img src="{% static 'geekshop/img/icon-hover.png' %}" alt="hover">
                            <h4>{{ item.name }}</h4>
                            <p>{{ item.short_desc }}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="paginator">
                {% if products.has_previous %}
                    <a href="{% url 'products:page' category.pk products.previous_page_number %}">
                        <
                    </a>
                {% endif %}
            <span class="current">
                страница {{ products.number }} из
                {{ products.paginator.num_pages }}
            </span>
                {% if products.has_next %}
                    <a href="{% url 'products:page' category.pk products.next_page_number %}">
                        >
                    </a>
                {% endif %}
            </div>
        </div>


        <div class="related">
            <div class="title clearfix">
                <h2>Похожие продукты</h2>
                <a class="explore" href="#">показать все <img src="{% static 'geekshop/img/arrow.png' %}" alt=""></a>
            </div>
            <div class="related-products clearfix">
                {% for item in related_products %}
                <div class="block">
                    <a href="#"><img src="{{ item.image|prod_img_path }}" alt="">
                        <div class="text">
                            <img src="{% static 'geekshop/img/icon-hover.png' %}" alt="img">
                            <h4>{{ item.name }}</h4>
                            <p>{{ item.short_desc }}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
