{% extends 'geekshop/template.html' %}
{% load static %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'basketapp/js/basket.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="hero-white">
        {% include 'geekshop/includes/inc_main_menu.html' %}
    </div>
    {% include 'basketapp/includes/inc_basket_list.html' %}
    <button class="btn btn-round">
        <a href="{% url 'index' %}">на главную</a>
    </button>

</div>

<div class="clr"></div>

{% endblock %}
