{% extends 'authapp/template.html' %}
{% load static %}

{% block content %}
    <div class="row col-4">
        <div class="row">
            <div class="user_avatar">
                <img src="/media/{{ user.avatar }}">
            </div>
        </div>
        <form class="'form-horizontal" action="{% url 'auth:edit' %}" method="post">
            {% csrf_token %}
            {{ edit_form.as_p }}
            <br>
            <input class="form-control btn-primary" type="submit" value="сохранить">
        </form>
    </div>
{% endblock %}
