{% extends 'authapp/template.html' %}
{% load static %}

{% block content %}
    <div class="row col-3">
        <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            {{ form.as_p }}
            <br>
            <input class="form-control btn-primary" type="submit" value="войти">
        </form>
        <button class="btn btn-round form-control">
            <a href="{% url 'auth:register' %}">
                зарегистрироваться
            </a>
        </button>
        <button class="btn btn-round form-control">
            <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/">
                Вход через VK
            </a>
        </button>
        <button class="btn btn-round form-control">
            <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">
                Вход через Google
            </a>
        </button>
    </div>
{% endblock %}
