{% extends 'authapp/template.html' %}
{% load static %}

{% block content %}
    <div class="row col-3">
        <form class="'form-horizontal" action="{% url 'auth:login' %}" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            {{ login_form.as_p }}
            <br>
            <input class="form-control btn-primary" type="submit" value="войти">
        </form>
        <a href="{% url 'auth:register' %}">
            зарегистрироваться
        </a>
    </div>
{% endblock %}
