{% extends 'adminapp/base.html' %}
{% load static %}
{% load newtags %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">{{ title|title }}</h1>
        <div class="card mb-4">
            <div class="card-body">
                <div class="details-slider">
                    <img src="{{ product.image|prod_img_path }}">
                </div>

                <h3 class="big-bold">{{ product.name }}</h3>
                <p class="price"> {{ product.price }} <span>руб</span></p>
                <p>Количество: {{ product.quantity }}</p>
                <div class="description-text">
                    <p>{{ product.short_desc }}</p>
                    <hr>
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>
        <button class="btn btn-info">
            <a href="{% url 'admin_staff:products' product.category.pk %}">
                к списку товаров
            </a>
        </button>
    </div>
</main>
{% endblock %}