{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">{{ title|title }}</h1>
        <div class="card mb-4">
            <div class="card-header">
            </div>
            <div class="card-body">
                Уверены, что хотите удалить {{ object.username }}
                {% if object.first_name %}
                ({{ object.first_name|title }}</b>
                {% if object.last_name %}
                {{ object.last_name|title }}
                {% endif %})
                {% endif %}
                ?
                <form  method="POST">
                    {% csrf_token %}
                    <input class="btn btn-danger" type="submit" value="удалить">
                    <button class="btn btn-success">
                        <a href="{% url 'admin_staff:users' %}">
                            Отмена
                        </a>
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}