{% extends 'geekshop/template.html' %}
{% load static %}
{% load newtags %}
{% block js %}
    <script
	src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous">
    </script>
    <script defer src="{% static 'geekshop/js/main_script.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="hero-white">
        {% include 'geekshop/includes/inc_main_menu.html' %}
    </div>

    {% include 'mainapp/includes/inc_products_list_content.html' %}


    <div class="clr"></div>

</div>
{% endblock %}
