<div class="header clearfix">
    <a href="/" class="logo"></a>
    <ul class="menu">
        <li><a href="{% url 'index' %}" class="{% if title == 'главная' %}active{% endif %}">домой</a></li>
        <li><a href="{% url 'products:index' %}" class="{% if title == 'товары' %}active{% endif %}">продукты</a></li>
        <li><a href="{% url 'contacts' %}" class="{% if title == 'контакты' %}active{% endif %}">контакты</a></li>
    </ul>
    <a href="#" class="search"></a>
    <a href="#" class="basket"></a>
</div>
